td:first-child {
    background-color: green;
    color: white;
}

.recreo {
    background-color: yellow;
    text-align: center;
}

a {
    text-decoration: none;
}
a:visited {
    color: red;
}
a:link {
    color: green;
}

th:nth-child(6), td:nth-child(6) {
    transition: font-size 0.3s ease;
}
th:nth-child(6):hover, td:nth-child(6):hover {
    font-size: 1.5em;
}

th::first-letter {
    font-size: 2em;
}

form {
    margin-top: 10px;
}

input[type="email"] {
    width: 250px;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: lightgreen;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: green;
    color: white;
}
